* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#132a13, #84a98c, #cad2c5, #354f52), #2f3e46;
  background-repeat: no-repeat;
  background-size: cover;

}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
h1 {
  position: fixed;
  top: 3px;
  background-color: #84A98C;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.2ch;
  z-index: 999;
}
#win-msg{
    font-size: 1.5rem;
    position: relative;
    animation: rotate 1s ease forwards ;
    color: #CAD2C5;

}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg) scale(1.3);     
    }
    
}
#win-msg::after{
    content: "";
    width: 0ch;
    position: absolute;
    left: 0;
    bottom:-5px;
    height: 4px;
    background-color: #354F52;
    /* z-index: -99; */
    border-radius: 5px;
    animation: underline 1s linear 1s forwards ;
}

@keyframes underline {
    0%{
        width: 0ch;
    }
    100%{
        width: 20ch;
    }
}
.game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}
.hide {
    display: none;
  }
.box {
  background-color: #2f3e46;
  width: 100px;
  height: 100px;
  border: none;
  color: #cad2c5;
  font-size: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px #fbfcfa;
}

.game-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  border: 2px solid #52796f;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}
.btn {
  padding: 10px 30px;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  border-radius: 10px;
  background-color: #52796F;
  box-shadow: 0 0 10px black;
  transition: all 0.3s ease-in-out ;
}
.btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}
